@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--black-primary: #000000;
	--white-primary: #ffffff;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    background: var(--black-primary);
}
header > div {
    color: var(--white-primary);
    max-width: 1700px;
    width: 100%;
    display: flex;
    align-items: center;
}
header > div > img {
    padding: 10px;
    height: 100%;
    width: 100px;
}
main{
    background:black;
    height: auto;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
main > article {
    width: 100%;
    max-width: 1700px;
    background: var(--white-primary);
    display: grid;
    grid-template-areas: "botonera pagina pagina pagina pagina";
}
aside{
    background: var(--black-primary);
    grid-area: botonera;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
aside div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: space-around;
}
aside div a{
    color: var(--black-primary);
    background: var(--white-primary); /* Corregido a --white-primary */
    outline: none; /* Elimina el borde por defecto que aparece al hacer clic */
    padding: 12px 24px; /* Espaciado alrededor del texto */
    font-size: 1.2rem; /* Tamaño del texto */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
}
article{
    grid-area: pagina;
}
h2{
	font-family: "Oswald", sans-serif;
	font-size: 2rem;
	color: var(--white-primaty);
}