/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #ece0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 15px 0;
}

#rojo {
  color: red;
}

.contenedor {
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.contenedor-formulario {
  background: linear-gradient(to bottom, rgb(220, 243, 157) 0%, rgba(236,220,216,1) 50%, rgb(206, 187, 187) 100%);
  padding: 0 50px;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

form > div {
  text-align: start;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.formulario-iniciar-sesion > form > h1 {
  color: white;
}

.formulario-registrarse > form > h1 {
  color: white;
}

.contenedor-social {
  margin: 20px 0;
}

.contenedor-social img {
  width: 5vw;
}

/*
.contenedor-social a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
*/

.contenedor-formulario input {
  background: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}

.contenedor-formulario input {
  border: transparent solid 0.5px;
}

.contenedor-formulario input:focus {
  border: #94b98b solid 0.5px;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  background: #ece0e0;
  color: #443838;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

#lila {
  background: #ece0e0;
  border: 1px solid transparent;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.fantasma {
  border-color: #fff;
  background: transparent;
  backdrop-filter: blur(2px);
}

.contenedor-formulario {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.formulario-iniciar-sesion {
  left: 0;
  width: 50%;
  z-index: 2;
}

.formulario-registrarse {
  left: 0;
  width: 50%;
  z-index: 1;
}

.contenedor-superposicion {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.superposicion {
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.panel-superposicion {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.panel-izquierda > div > p {
  color: black;
  font-size: 18px;
}

.panel-izquierda > div > h1 {
  color: rgb(255, 255, 255);
}

.panel-derecha > div > p {
  color: white;
  font-size: 16px;
}

#iniciarSesion, #registrarse {
  color: white;
}

.panel-derecha {
  right: 0;
  transform: translateX(0);
  background-image: url("image1 - copia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-izquierda {
  background-image: url("ll.jpg");
  transition: translateX(0%);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Animación */

/* Mover formulario de iniciar sesión a la derecha */
.contenedor.panel-derecha-activa .formulario-iniciar-sesion {
  transform: translateX(100%);
}

/* Mover superposición a la izquierda */
.contenedor.panel-derecha-activa .contenedor-superposicion {
  transform: translateX(-100%);
}

/* Traer formulario de registro sobre formulario de iniciar sesión */
.contenedor.panel-derecha-activa .formulario-registrarse {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Mover superposición de nuevo a la derecha */
.contenedor.panel-derecha-activa .superposicion {
  transform: translateX(50%);
}

.contenedor.panel-derecha-activa .panel-izquierda {
  transform: translateX(0);
}

.contenedor.panel-derecha-activa .panel-derecha {
  transform: translateX(0%);
}

@media (max-width: 810px) {
  .contenedor {
    width: 90vw;
  }
  
}